:root {
    --gunmetal-color: #2F323A;
    --chinese-violet-color: #77567A;
    --french-mauve-color: #C47AC0;
    --amaranth-pink-color: #E39EC1;
    --tea-rose-color: #DEBAC0;
    --charcoal-color: #1D1F23;
    --white-transparent-color: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--tea-rose-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--charcoal-color);
}

a:hover {
    text-shadow: 0 0 1px currentColor;
}

#header-conf {
    display: flex;
    flex-direction: column;
    background-color: var(--chinese-violet-color);
}

#header-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

#header-top-search {
    display: flex;
    align-items: center;
    height: 30%;
    width: 30%;
    border: 1px solid var(--charcoal-color);
    border-radius: 10px;
    background-color: var(--tea-rose-color);
    padding: 0.3rem;
}

#txtBusca {
    flex: 1;
    background-color: transparent;
    padding-left: 0.5rem;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#txtBusca:focus {
    border-color: var(--gunmetal-color);
    box-shadow: 0 0 5px var(--gunmetal-color);
}

#btnBusca {
    margin-left: 0.5rem;
    color: var(--gunmetal-color);
}

#header-top-menu > img {
    width: 18vw;
}

#header-top-menu-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header-top-menu-li {
    margin: 0 0.5rem;
    color: var(--charcoal-color);
}

.header-icon {
    transition: background-color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
    border-radius: 50%;
}

.header-icon:hover {
    background-color: var(--white-transparent-color);
    box-shadow: 0 0 5px 5px var(--white-transparent-color);
}

#header-top-menu-login {
    margin: 0 0.5rem;
    color: var(--charcoal-color);
}

#header-bottom-menu-layer-1 {
    display: flex;
    list-style-type:none;
    justify-content: center;
    align-items: center;
}

#header-bottom-menu-layer-1 > li {
    position: relative;
    margin: 0 1rem;
    color: var(--charcoal-color);
    /* border: 1px solid blue; */
}

.header-bottom-menu-layer-2 {
    display: none;
    position: absolute;
    background-color: aliceblue;
    list-style-type: none;
    text-align: left;
    border-radius: 2px;
    /* margin-top: 16px; */
    padding: 10px 10px;
    background-color: var(--tea-rose-color);
    z-index: 9;
}

/* #header-bottom-menu-layer-1 > li:hover {
    border: 1px solid red;
} */

#header-bottom-menu-layer-1 li:hover .header-bottom-menu-layer-2 {
    display: flex;
    flex-direction: column;
}

.header-bottom-menu-layer-2 li {
    display: flex;
    justify-content: space-between;
    width: max-content;
    min-width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.header-bottom-menu-layer-2 > li > a {
    flex: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.overlay-active .overlay {
    display: block;
}

main * {
    position: relative;
    z-index: 6;
}

#footer-conf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    background-color: var(--chinese-violet-color);
}

#footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem
}

#footer-menu ul {
    list-style-type:none;
}

.footer-div {
    flex-grow: 1;
    flex-basis: content;
}

#footer-menu li {
    color: var(--charcoal-color);
}

#footer-app {
    display: flex;
    width: 100%;
}

#footer-app-container {
    background-color: var(--french-mauve-color);
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-app-container div{
    text-align: left;
    margin: 0.15rem;
}

#footer-app ul{
    padding: 0;
    margin: 0;
    list-style-type:none;
}

#footer-app li{
    text-align: left;
    padding: 0;
    color: var(--charcoal-color);
}

#footer-app-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-qr-code {
    flex-basis: 40%;
    background-color: white;
}

#footer-app-store {
    display: flex;
    flex-direction: column;
}

.imagem {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    /* height: auto; */
}