:root {
    --gunmetal-color: #2F323A;
    --chinese-violet-color: #77567A;
    --french-mauve-color: #C47AC0;
    --amaranth-pink-color: #E39EC1;
    --tea-rose-color: #DEBAC0;
}

body {
    background-color: var(--tea-rose-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#header-conf {
    display: flex;
    flex-direction: column;
    background-color: var(--chinese-violet-color);
}

#header-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

#header-top-search {
    border: 1px solid var(--gunmetal-color);
    border-radius: 10px;
    background-color: var(--tea-rose-color);
}

#txtBusca {
    float: left;
    background-color: transparent;
    margin: 0.3rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#txtBusca:focus {
    border-color: var(--gunmetal-color);
    box-shadow: 0 0 5px var(--gunmetal-color);
}

#btnBusca {
    float: right;
    color: var(--gunmetal-color);
    margin-top: 0.25rem;
    padding-right: 0.5rem;
}

#header-top-menu > img {
    width: 18vw;
}

#header-top-menu-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header-top-menu-li {
    margin: 0 0.5rem;
    color: var(--gunmetal-color);
}

#header-top-menu-login {
    margin: 0;
    color: var(--gunmetal-color);
}

#header-bottom-menu ul {
    display: flex;
    list-style-type:none;
    justify-content: center;
    align-items: center;
}

#header-bottom-menu li {
    margin: 0 1rem;
    color: var(--gunmetal-color);
}

#footer-conf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--chinese-violet-color);
}

#footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-menu ul {
    list-style-type:none;
}

.footer-div {
    flex-basis: 20%;
}

#footer-menu li {
    /* margin: 0 1rem; */
    color: var(--gunmetal-color);
}

#footer-app {
    display: flex;
    width: 100%;
}

#footer-app-container {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--french-mauve-color);
    border-radius: 2%;
}

#footer-app-container div{
    padding: 0.5rem;
    margin: 0.8rem;
}

#footer-app ul{
    padding: 0;
    margin: 0;
    list-style-type:none;
}

#footer-app li{
    text-align: left;
    padding: 0;
    color: var(--gunmetal-color);
}

#footer-app-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-qr-code {
    flex-basis: 40%;
    background-color: white;
}

#footer-app-store {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    /* justify-content: space-between; */
    border: 1px solid red;
}

.imagem {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    /* height: auto; */
}